/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
horizon.log
.vscode/settings.json
pinescore.session.sql
app/Http/Controllers/partytest.php
composer.lock
composer.phar
